@@credentials = {   
        :address              => "smtp.gmail.com",
        :port                 => 587,
        :domain               => 'mail.google.com',
        :user_name            => 'your_username',
        :password             => 'your application password',
        :authentication       => :login,
        :openssl_verify_mode  => 'none'
    }